/* Réinitialisation des marges et des rembourrages */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

/* Styles pour le header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styles pour les sections */
section {
    padding: 40px 20px;
}

section h1, section h2, section h3 {
    color: #333;
    margin-bottom: 10px;
}

article {
    margin-bottom: 20px;
}

/* Styles pour le footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}